.header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-decoration: underline;
    margin-left: auto;
    margin-top: 14px;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        margin-top: 18px;
        margin-bottom: 6px;
    }
}

.header__lang-link:last-of-type {
    text-decoration: none;
    margin-left: 18px;
}