.cover__link {
    display: block;
    /* width: 100%;
    height: 100%; */
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: #FFFFFF;
    padding: 33px 16px;
}

@media screen and (min-width: 768px) {
    .cover__link {
        padding: 115px 104px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__link {
        padding: 195px 232px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__link {
        padding: 245px 312px;
        max-width: 1184px;
        max-height: 740px;
        margin: 0 auto;
    }
}