.places {
    padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .places {
        padding: 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        padding: 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        padding-left: 148px;
        padding-right: 148px;
        padding-bottom: 0;
    }
}