.intro__list {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 34px 16px 0;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .intro__list {
        padding: 33px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .intro__list {
        width: 690px;
        padding-left: 0;
        padding-right: 290px;
        margin: 0 auto;
    }
}