.cover__subtitle {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 0;
    position: relative;
    z-index: 3;
    width: 288px;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        /* margin: 0 auto; */
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        margin: 32px auto 0;
        max-width: 320px;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {
    .cover__subtitle {}
}