.cover__subtitle {
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    position: relative;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        /* margin: 0 auto; */
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        margin-top: 32px;
        width: 46.88vw;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        width: 28.13vw;
    }
}