.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    padding: 40px 16px 0;
}

@media screen and (min-width: 768px) {
    .intro__text {
        padding-left: 24px;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__text {
        /*  */
        padding-left: 0;
        padding-right: 264px;
        margin: 0 auto;
    }
}