.intro {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

@media screen and (min-width: 768px) {
    .intro {}
}

@media screen and (min-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        padding-left: 148px;
    }
}