.lead__subtitle {
    margin: 16px auto 40px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 32px auto 56px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 32px auto 56px;
        width: 62.5vw;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 32px auto 64px;
    }
}