 .place__link {
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 22px;
     text-decoration: underline;
     margin: 0;
     color: #FFFFFF;
 }
 
 .place__link:hover {
     opacity: 80%;
 }