.cover__title {
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    position: relative;
    z-index: 2;
    width: 288px;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        width: 560px;
    }
}