    .place {
        display: grid;
        row-gap: 32px;
        grid-column: 1fr;
        padding-bottom: 50px;
    }
    
    @media screen and (min-width: 768px) {
        .place {
            display: grid;
            grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
            grid-template-rows: fit-content(300px) fit-content(300px) fit-content(300px);
            row-gap: 48px;
            column-gap: 28px;
            padding-bottom: 73px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .place {
            grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
            grid-template-rows: fit-content(300px) fit-content(300px) fit-content(300px);
            column-gap: 32px;
            padding-bottom: 80px;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .place {
            padding-top: 0;
            grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
            grid-template-rows: fit-content(300px) fit-content(300px fit-content(300px));
            column-gap: 40px;
        }
    }
    
    @media screen and (min-width: 768px) {
        .place:last-of-type {
            padding-bottom: 42px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .place:last-of-type {
            padding-bottom: 92px;
        }
    }