.place {}

@media screen and (min-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: 44.272vw auto;
        grid-template-rows: fit-content(300px) fit-content(300px) fit-content(300px);
        /* grid-template-rows: 1fr 1fr 1fr; */
        row-gap: 48px;
        column-gap: 28px;
        padding: 0;
        padding-top: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        padding-top: 80px;
        grid-template-columns: 42.97vw;
        grid-template-rows: fit-content(300px) fit-content(300px) fit-content(300px);
        row-gap: 48px;
        column-gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        padding-top: 80px;
        grid-template-columns: 35.94vw;
        grid-template-rows: fit-content(300px) fit-content(300px) fit-content(300px);
        column-gap: 40px;
    }
}